@use 'base/variables' as v;
@use 'base/mixins' as m;

.site-footer{
    background-color: v.$rosa;
    padding: 10px;
    text-align: center;
    p{
        color: v.$blanco;
        font-size: 1.5rem;
        margin: 0;
    }
}